body {
  font-family: 'Montserrat', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 20px;
}

.text-block {
  line-height: 28px;
  margin-bottom: 20px;
}

button.button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 213, 219);
  border-radius: .5rem;
  font-weight: 600;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin-top: 30px;
}

button.button:hover {
  background-color: rgb(249, 250, 251);
}

button.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button.button:focus-visible {
  box-shadow: none;
}

.age-validation {
  font-size: 12px;
  display: block;
  padding: 4px;
  color: gray;
}
